{% style %}
  .announcement-container {
    background:var(--color-announcement-bg);
    font-family:var(--font-family-3);
    font-size:var(--font-sm);
    padding:1.14em;
    text-align:center;
  }
  .announcement-container a {
    color:var(--color-announcement);
  }
  .announcement-container a:hover {
    color:var(--color-announcement);
  }
{% endstyle %}
<div class="announcement-container" >
  <a href="{{ section.settings.url }}">{{ section.settings.text }}</a>
  {%- comment -%} <a href="{{ section.settings.url }}">{{ section.blocks[0].settings.text }}22</a> {%- endcomment -%}
</div>
{%- comment -%} {%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
      <div class="announcement-bar color-{{ block.settings.color_scheme }} gradient" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
        {%- if block.settings.text != blank -%}
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
          {%- endif -%}
              <div class="page-width">
                <p class="announcement-bar__message {{ block.settings.text_alignment }} h5">
                  {{ block.settings.text | escape }}
                  {%- if block.settings.link != blank -%}
                    {% render 'icon-arrow' %}
                  {%- endif -%}
                </p>
              </div>
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%}
        {%- endif -%}
      </div>
  {%- endcase -%}
{%- endfor -%} {%- endcomment -%}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "settings":[
    {
      "type":"text",
      "id":"text",
      "label":"Text",
      "default":"Hello"
    }
  ]
}
{% endschema %}
